#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "CLAW44";
        transform = <&matrix_transform0>;
        kscan = <&kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  124       0     0     0>
            , <&key_physical_attrs 100 100  100  109       0     0     0>
            , <&key_physical_attrs 100 100  200   34       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    4       0     0     0>
            , <&key_physical_attrs 100 100  500   22       0     0     0>
            , <&key_physical_attrs 100 100  870   22       0     0     0>
            , <&key_physical_attrs 100 100  970    4       0     0     0>
            , <&key_physical_attrs 100 100 1070    0       0     0     0>
            , <&key_physical_attrs 100 100 1170   34       0     0     0>
            , <&key_physical_attrs 100 100 1270  109       0     0     0>
            , <&key_physical_attrs 100 100 1370  124       0     0     0>
            , <&key_physical_attrs 100 100    0  224       0     0     0>
            , <&key_physical_attrs 100 100  100  209       0     0     0>
            , <&key_physical_attrs 100 100  200  134       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  104       0     0     0>
            , <&key_physical_attrs 100 100  500  122       0     0     0>
            , <&key_physical_attrs 100 100  870  122       0     0     0>
            , <&key_physical_attrs 100 100  970  104       0     0     0>
            , <&key_physical_attrs 100 100 1070  100       0     0     0>
            , <&key_physical_attrs 100 100 1170  134       0     0     0>
            , <&key_physical_attrs 100 100 1270  209       0     0     0>
            , <&key_physical_attrs 100 100 1370  224       0     0     0>
            , <&key_physical_attrs 100 100    0  324       0     0     0>
            , <&key_physical_attrs 100 100  100  309       0     0     0>
            , <&key_physical_attrs 100 100  200  234       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  204       0     0     0>
            , <&key_physical_attrs 100 100  500  222       0     0     0>
            , <&key_physical_attrs 100 100  870  222       0     0     0>
            , <&key_physical_attrs 100 100  970  204       0     0     0>
            , <&key_physical_attrs 100 100 1070  200       0     0     0>
            , <&key_physical_attrs 100 100 1170  234       0     0     0>
            , <&key_physical_attrs 100 100 1270  309       0     0     0>
            , <&key_physical_attrs 100 100 1370  324       0     0     0>
            , <&key_physical_attrs 100 100  340  315 (-1000)   390   365>
            , <&key_physical_attrs 100 100  448  320    1000   498   370>
            , <&key_physical_attrs 125 100  543  367    2500   605   417>
            , <&key_physical_attrs 100 100  620  475    5500   670   525>
            , <&key_physical_attrs 100 100  760  475 (-5500)   810   525>
            , <&key_physical_attrs 125 100  810  367 (-2500)   872   417>
            , <&key_physical_attrs 100 100  931  320 (-1000)   981   370>
            , <&key_physical_attrs 100 100 1040  315    1000  1090   365>
            ;
    };
};
